# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
*.csv
*.pdf

# Virtual environments
.venv/
venv/
ENV/
env/

# Logs
*.log

# Test and coverage results
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
